<!-- header -->
<header>
  <div class="header-inner">
    <!-- 로고 -->
    <a href="/index.html">
      <div class="logo">
        <img src="/assets/icons/icon-logo.svg" alt="로고" class="logo-icon" />
        <span class="logo-text">사자들의 공부방</span>
      </div>
    </a>

    <!-- //로고 -->

    <!-- 네비게이션 -->
    <nav class="nav">
      <a href="/index.html" class="nav-item active">
        <img src="/assets/icons/icon-home.svg" alt="" />
        <span>대시보드</span>
      </a>

      <a href="/src/pages/studyroom/index.html" class="nav-item">
        <img src="/assets/icons/icon-book.svg" alt="" />
        <span>자습방</span>
      </a>

      <a href="/src/pages/qna/index.html" class="nav-item">
        <img src="/assets/icons/icon-chat.svg" alt="" />
        <span>QnA</span>
      </a>

      <a href="/src/pages/newpost/index.html" class="nav-item write">
        <img src="/assets/icons/icon-edit.svg" alt="" />
        <span>글쓰기</span>
      </a>
    </nav>
    <!-- //네비게이션 -->

    <!-- 회원정보 -->
    <div class="personal">
      <a
        href="/src/pages/users/mypage/index.html"
        class="nav-item"
        data-role="mypage"
      >
        <img src="/assets/icons/icon-user.svg" alt="" />
        <span>마이페이지</span>
      </a>

      <a href="#" class="nav-item btn__blue logout" data-role="logout">
        <img src="/assets/icons/icon-logout.svg" alt="" />
        <span>로그아웃</span>
      </a>

      <a
        href="/src/pages/users/login/index.html"
        class="nav-item btn__blue"
        data-role="login"
      >
        <span>로그인</span>
      </a>
    </div>

    <!-- //회원정보 -->
  </div>
</header>
<!-- //header -->
