.container {

  /* background-color: #F9FAFB; */
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 404 안내 메시지 */

.error {
  display: contents;

  .error__icon {
    width: 64px;
  }

  .error__code {
    font-size: 128px;
    background-image: linear-gradient(45deg, #4f39f6, #9810fa);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .error__title {
    font-size: 36px;
    color: #0a0a0a;
  }

  .error__desc {
    font-size: 18px;
    color: #4a5565;
  }
}

/* 이동 링크 박스 */

.suggest {
  background-color: var(--white);
  border-radius: 16px;
  width: 600px;
  padding: 32px;
  box-shadow: var(--shadow-box);

  .suggest__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    list-style: none;
    text-decoration: none;

    .suggest__link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      text-decoration: none;
      color: inherit;
    }

    .suggest__item {
      background-color: #f9fafb;
      border: 1px solid #e5e7eb;
      padding: 8px;
      border-radius: 12px;
      text-align: center;
      text-decoration: none;
    }
  }
}

.suggest__message {
  display: flex;
  align-items: center;
  gap: 6px;
}



/* 자주 쓰이는 버튼 */
.shortcut {
  display: flex;
  align-items: center;
  gap: 16px;
 
}

.shortcut__btn {
    display: flex;
  align-items: center;
  gap: 8px;


  background-color: #fff;
  border: 1px solid #d1d5dc;
  border-radius: 14px;
  padding: 12px;
  margin-block: 32px;
   box-shadow: var(--shadow-box);

  text-decoration: none;
  color: inherit;

  &.shortcut__btn--home{
    background-image: linear-gradient(45deg, #4f39f6, #9810fa);
    color: var(--white);
  }
}