/* ==================================================
header
==================================================*/

header {
  /* width: 1400px; */
  border-bottom: 1px solid #e5e7eb;
  margin: 0 auto;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* 로고 */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  .logo-icon {
    width: 40px;
    height: 40px;
  }

  .logo-text {
    font-size: 24px;
    font-weight: 700;
    background: linear-gradient(
      90deg,
      rgba(21, 93, 252, 1) 0%,
      rgba(79, 57, 246, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* 네비게이션 */
.nav {
  display: flex;
  align-items: space-between;
  gap: 8px;
  /* margin-left: auto; */
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 8px 14px;
  border-radius: 10px;

  font-size: 14px;
  color: #374151;
  text-decoration: none;
}

.nav-item img {
  width: 18px;
  height: 18px;
}

.nav-item:hover {
  background: #f3f4f6;
}

/* 활성 상태 - 현재 페이지*/
.nav-item.active {
  background: #eef2ff;
  color: #2563eb;
}

/* 글쓰기 버튼 */
/* .nav-item.write {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: #fff;
} */

/* .nav-item.write img {
  filter: brightness(0) invert(1);
} */

/* 회원정보 */
.personal {
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-left: auto; */
}

.nav-item.btn__blue {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: #fff;
}

.logout img {
  filter: brightness(0) invert(1);
}

/* ==================================================
footer
==================================================*/
.footer {
  background: linear-gradient(90deg, #0f172a 0%, #111827 50%, #020617 100%);
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 로고 영역 */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  .footer-logo-icon {
    width: 28px;
    height: 28px;
  }

  .footer-logo-text {
    font-size: 14px;
    font-weight: 600;
    color: #e5e7eb;
  }
}

/* 저작권 */
.footer-copy {
  font-size: 12px;
  color: #9ca3af;
}
