@layer base, theme, components, utilities;

@import './common/_normalize.css' layer(base);
@import './common/base.css' layer(base);

@import './common/theme.css' layer(theme);
@import './theme.css' layer(theme);

/* @import './common/_animation.css' layer(utilities); */
@import './common/a11y.css' layer(utilities);

@import './demo.css';