body.user{
  padding: 0;
}

.user__form{
  display: flex;
  flex-flow: nowrap column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  margin-inline: auto;
  padding: 80px 0;
  background: linear-gradient(45deg, #EEF2FF, #fff, #FAF5FF);
  .header__box{
    text-align: center;
  }

  .header__icon{
    display: flex; align-items: center;
    justify-content: center;
    width: 64px; height: 64px;
    margin-inline: auto;
    margin-block-end: 16px;
    border-radius: 16px;
    background: linear-gradient(to right, #4F39F6, #9810FA);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  }

  .header__title{
    margin-block-end: 8px;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
  }

  .header__subtitle{
    margin-block: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  input{
    display: block;
    width: 100%; height: 100%;
    padding-left: 48px;
    border: none;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
  }

  input:focus{
    outline: none;
  }

  .input__box:focus-within{
    outline: 2px solid #4F39F6;
  }

  .input__box{
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 46px;
    inline-size: 100%;
    border: 1px solid #D1D5DC;
    border-radius: 14px;
    letter-spacing: -0.02em;
    overflow: hidden;
  }

  .input__box::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 16px;
    z-index: 10;
    display: block;
    width: 20px; height: 20px;
    background-image: url(./icon/email-icon.svg);
    background-size: 20px;
    translate: 0 -50%;
  }

  .input__box.id::before{
    background-image: url(./icon/user-icon.svg);
  }

  .input__box.password::before{
    background-image: url(./icon/password-icon.svg);
  }

  .input__box.email::before{
    background-image: url(./icon/email-icon.svg);
  }

  .input__box.phone::before{
    background-image: url(./icon/tel-icon.svg);
  }

  .error__text{
    padding-top: 8px;
    color: var(--red-500);
    font-size: 11px;
    font-weight: 500;
  }

  .flex__box{
    display: flex;
    justify-content: space-between;
  }
}


.form__container{
  width: 100%;
  max-width: 520px;
  padding: 33px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));

  .user__input ~ .user__input{
    margin-top: 20px;
  }

  .user__input label{
    display: block;
    margin-block-end: 8px;
    font-size: 14px;
  }

  .user__input p{
    margin: 0;
  }

  .user__input .info{
    margin: 0;
    margin-block-start: 8px; 
    color: #6A7282;
    font-size: 12px;
  }

  .form__login{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-block-start: 20px;
  }

  .user__item{
    display: flex;
    justify-content: space-between;
    margin-block-start: 20px;
  }
  
  a{
    color: #4F39F6;
    font-weight: 500;
    text-decoration: none;
  }
}

.form__button{
  display: flex; align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  margin-top: 20px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(to right, #4F39F6, #9810FA);
  color: #fff;
  font-size: 1rem;
  line-height: 52px;
  cursor: pointer;

  &.white span{
    display: block;
    margin: auto;
    color: #fff;
    text-align: center;
  }

  &.login span{
    display: block;
    margin: auto;
    color: #fff;
    text-align: center;
  }
}

.result__box{
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  
  .deleted{
    line-height: 1.5;
  }
  .deleted b{
    color: #4F39F6;
    font-weight: 600;
  }

  span{
    color: #4F39F6;
    font-weight: 600;
  }

  strong{
    display: block;
    margin-block: 1rem;
    color: #4F39F6;
    font-size: 2rem;
    
  }
}


/* 프로필 */
.gray-bg{
  background: #F9FAFB;
}

.user__container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 40px 0;
  
  .user__header{
    grid-column: 1/3;
  }
  .profile__container,
  .user__profile{
    padding: 25px;
    border-radius: 14px;
  }
  .profile__container{
    max-height: 428px;
    background: #fff;
    box-shadow: var(--shadow-box);
  }
  .user__profile{
    grid-column: 2/3;
    background: #fff;
    box-shadow: var(--shadow-box);
  }

  .user__activity{
    display: flex;
    gap: 16px;
    margin-block-end: 24px;
  }
  .user__activity > .activity__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 160px;
    border-radius: 14px;
    background: #fff;
        box-shadow: var(--shadow-box);
  }

  .activity__item > .write__count{
    margin: 8px 0 12px;
    font-size: 24px;
    font-weight: 600;
  }

  .activity__item > .title{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.profile__container{

  .user__thumbnail{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(-45deg, #AD46FF, #615FFF);
    color: var(--white);
    font-size: 30px;
  }
  .profile_thumb{
    width: 100%; height: 100%;
    border-radius: 50%;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  }
  .profile_thumb img{
    width: 100%; height: 100%;
    object-fit: cover;
  }

  .user__thumbnail .js-button{
    position: absolute; right: 0px;
    bottom: 0px;
    display: none; align-items: center;
    justify-content: center;
    width: 32px; height: 32px;
    border-radius: 50%;
    background: #4F39F6;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  }
  input{display: none;}
  .user__thumbnail.is-modify .js-button{
    display: flex;
  }

  .user{
    font-size: 20px;
    font-weight: 500;
  }

  .expert{
    display: inline-block;
    margin: 0;
    padding: 0px 16px;
    border-radius: 14px;
    background: #e0e7ff;
    color: #432DD7;
    font-size: 14px;
    line-height: 28px;
  }

  .create-date{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: #4A5565;
    font-size: 14px;
  }

  .user__profile-box{
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E7EB;
  }

  &.read{
    max-height: 265px;
  }

}

.user__button-wrap{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-top: 32px;

  a{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    text-decoration: none;
  }

  a:first-of-type{
    background: #f3f4f6;
    color: #0a0a0a;
  }

  a:last-of-type{
    background: #FEF2F2;
    color: #E7000B;
  }
}

.form__container .delete_agree.delete_agree{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  cursor: pointer;
  input {
    display: none;
  }
  span{
    display: block;
    width: 18px; height: 18px;
    border: 1px solid #ddd;
  }
  input:checked + span{
    position: relative;
    background: url(./icon/check-icon.svg) no-repeat center;
    background-size: 85%;
  }
}

.notice{
  margin-block-end: 32px;
  &.warn{
    font-size: 14px;
  }
  &.warn h2{
    margin: 0;
    color: #9F0712;
    font-size: 18px;
    font-weight: 500;
  }
  .notice__inner{
    margin: 16px 0 0;
    padding: 0;
    padding: 25px;
    border-radius: 14px;
    line-height: 22px 0;
  }
  &.warn .notice__inner{
    border: 1px solid #ffc9c9;
    background: #FEF2F2;
    color: #E7000B;
  }
  ul{
    margin: 16px 0 0 0;
    padding: 0 0 0 16px;
  }
  &.warn li ~ li{
    margin-block-start: 8px;
  }
  .notice-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-inline: auto;
    margin-block-end: 32px;
    border-radius: 16px;
  }
  &.warn .notice-icon{
    background: #FFE2E2;
  }
}

/* 버튼 여러개 */

.form_button__container{
  display: flex;
  gap: 16px;
  margin-block-start: 24px;

  & > * {
    margin: 0;
  }

  .form__button.back_button{
    display: flex; align-items: center;
    justify-content: center;
    border: 1px solid #D1D5DC;
    background: #FFFFFF;
    color: #364153;
  }

  .form__button.delete_button{
    background: #ff4a53;
    box-shadow:  0px 4px 6px rgba(251, 44, 54, 0.3);
    filter: drop-shadow(0 10px 15px rgba(251, 44, 54, 0.3));
  }
}

.form__information{
  position: relative;
  display: block;
  margin-block-start: 32px;
  padding: 17px 17px 17px 48px;
  border: 1px solid #FEE685;
  border-radius: 14px;
  background-color: #FFFBEB;
  font-size: 14px;

  .title{
    margin: 0;
    margin-block-end: 8px;
    color: #7B3306;
  }
  .sub-title{
    margin: 0;
    color: #BB4D00;
  }

  &::before{
    content: '';
    position: absolute;
    top: 17px;
    left: 17px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(./icon/security-Icon.svg);
  }
}

.mypage__navigation{
  grid-column: 1/3;
  width: 100%;
  max-width: 520px;

  .back-btn{
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 0;
    margin-block-end: 34px;
    color: #4A5565;
    font-size: 14px;
    text-decoration: none;
  }

  h1{
    margin: 0;
    margin-block-end: 8px;
    font-size: 30px;
    font-weight: 500;
  }
  p{
    color: #4A5565;
    font-size: 1rem;
    letter-spacing: -0.03em;
  }
}


/* 사용자 정보 */
.profile__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.user__profile__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 32px;

  h2{
    margin: 0;
  }

  .js-button{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #fff;
    color: #4F39F6;
  }
  .js-button.save{
    background: #4F39F6;
    color: #fff;
  }

  .button-wrap{
    display: none;
    gap: 16px;
  }
}


.user__modify-button.is-modify{
  .button-wrap{
    display: flex;
  }
  #btn_modify{
    display: none;
  }
}

.user_profile__box{

  .user__input label {
      display: block;
      margin-block-end: 8px;
      font-size: 14px;
  }
  
  input{
    display: block;
    width: 100%; height: 100%;
    padding-left: 48px;
    border: none;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
  }

  textarea:read-only,
  input:read-only{
    background: #F9FAFB;
  }

  textarea:focus,
  input:focus{
    outline: none;
  }

  .text__box:focus-within,
  .input__box:focus-within{
    /* outline: 2px solid #4F39F6; */
    outline: none;
  }

  &.is-modify .text__box:focus-within,
  &.is-modify .input__box:focus-within{
    outline: 2px solid #4F39F6;
  }

  .input__box{
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 46px;
    inline-size: 100%;
    border: 1px solid #D1D5DC;
    border-radius: 14px;
    letter-spacing: -0.02em;
    overflow: hidden;
  }

  .input__box::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 16px;
    z-index: 10;
    display: block;
    width: 20px; height: 20px;
    background-image: url(./icon/email-icon.svg);
    background-size: 20px;
    translate: 0 -50%;
  }

  .input__box.id::before{
    background-image: url(./icon/user-icon.svg);
  }

  .input__box.password::before{
    background-image: url(./icon/password-icon.svg);
  }

  .input__box.email::before{
    background-image: url(./icon/email-icon.svg);
  }

  .input__box.phone::before{
    background-image: url(./icon/tel-icon.svg);
  }

  .text__box{
    display: block;
    box-sizing: border-box;
    width: 100%; height: 280px;
    border: none;
    border: 1px solid #D1D5DC;
    border-radius: 14px;
    overflow: hidden;
  }
    
  .user__input .text__box p,
  textarea{
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    font-size: 1rem;
    resize: none;
  }

}
