<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/main.css" />
    <title>공통 컴퍼넌트</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="header-inner">
        <!-- 로고 -->
        <div class="logo">
          <img
            src="/src/assets/icons/icon-logo.svg"
            alt="로고"
            class="logo-icon"
          />
          <span class="logo-text">사자들의 공부방</span>
        </div>
        <!-- //로고 -->

        <!-- 네비게이션 -->
        <nav class="nav">
          <a href="/src/pages/dashboard/index.html" class="nav-item active">
            <img src="/src/assets/icons/icon-home.svg" alt="" />
            <span>대시보드</span>
          </a>

          <a href="/src/pages/studyroom/index.html" class="nav-item">
            <img src="/src/assets/icons/icon-book.svg" alt="" />
            <span>자습방</span>
          </a>

          <a href="/src/pages/qna/index.html" class="nav-item">
            <img src="/src/assets/icons/icon-chat.svg" alt="" />
            <span>QnA</span>
          </a>

          <a href="/src/pages/studyroom/index.html" class="nav-item write">
            <img src="/src/assets/icons/icon-edit.svg" alt="" />
            <span>글쓰기</span>
          </a>
        </nav>
        <!-- //네비게이션 -->

        <!-- 회원정보 -->
        <div class="personal">
          <a
            href="/src/pages/users/mypage/index.html"
            class="nav-item"
            data-role="mypage"
          >
            <img src="/src/assets/icons/icon-user.svg" alt="" />
            <span>마이페이지</span>
          </a>

          <a href="#" class="nav-item" data-role="logout">
            <img src="/src/assets/icons/icon-logout.svg" alt="" />
            <span>로그아웃</span>
          </a>

          <a
            href="/src/pages/users/users/login/index.html"
            class="nav-item login"
            data-role="login"
          >
            <span>로그인</span>
          </a>
        </div>

        <!-- //회원정보 -->
      </div>
    </header>
    <!-- //header -->

    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- footer -->
    <footer class="footer">
      <div class="footer-inner">
        <!-- 하단 : 로고 -->
        <div class="footer-logo">
          <img
            src="/src/assets/icons/icon-logo-color.svg"
            alt="사자들의 공부방 로고"
            class="footer-logo-icon"
          />
          <span class="footer-logo-text">사자들의 공부방</span>
        </div>

        <!-- 저작권 -->
        <p class="footer-copy">© 2026 사자들의 공부방. All rights reserved.</p>
        <!-- 저작권 -->
      </div>
    </footer>
    <!-- //footer -->
  </body>
</html>
