/* =================================
   1. 레이아웃
================================= */

.container {
  margin: auto;
  padding-block: 40px;
}


/* 게시글/댓글 공통 박스 */
.post,
.comment {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  margin-block: 24px;
  padding: 32px;
    box-shadow: var(--shadow-box);

  .post__header {
    width: 100%;
  }
}

/* =================================
   2. 포스트 헤더 영역
================================= */

/* 카테고리, 작성시간 영역 */
.post__title-group {
  display: flex;
  align-items: center;
}

.post__category {
  background-color: #e0e7ff;
  border-radius: 50px;
  padding: 8px 12px;
  color: #432dd7;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.post__time {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  font-size: var(--fs-time);
  gap: 4px;
}

.post__title {
  margin-block: 20px 38px;
}

.post__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
}

.post__author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-block: 6px;
}


/* =================================
   3. 작성자 프로필 사진
================================= */

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(45deg, #615fff, #ad46ff);
  color: white;
  overflow: hidden;
  box-shadow: var(--shadow-box);
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar--initial {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

/* =================================
   4. 작성글 영역
================================= */
.post__content {
  line-height: 1.6;
  padding-block: 40px;
  /* white-space: pre-line; */

  .post__content--code {
    background-color: #101828;
    color: white;
    border-radius: 14px;
    padding: 24px;
    overflow: auto;

    line-height: 1.4;
  }
}

.post__content > * {
  margin: 0;
}

.post__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.post__content pre {
  margin: 1.2em 0;
  font-size: var(--fs-text-sm);
}


/* =================================
   5. 코멘트 영역
================================= */

#comment__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment__title {
  font-size: 20px;
  margin-block: 8px 24px;
}

#comment {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 12px;
  line-height: 1.4;
}

.comment__submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  margin-block: 18px;

  border-radius: 12px;
  background: linear-gradient(90deg, #4f39f6 0%, #7c3aed 100%);
  color: #ffffff;
  border: none;

  cursor: pointer;
}

.comment__list {
  list-style: none;
  padding: 0;
}

.comment__item {
  padding: 20px 0;
  border-bottom: 1px solid #e5e7eb;
}

.comment__card {
  display: grid;
  grid-template-columns: 40px 1fr auto;
  column-gap: 16px;
}

.comment__meta {
  grid-column: 2;
  grid-row: 1;
  display: contents;
  gap: 8px;
  font-weight: 500;

  .comment__time {
    grid-column: 3;
    grid-row: 1;
    font-size: var(--fs-time);
    color: #6a7282;
    margin-left: auto;
  }
}

.comment__text {
  grid-column: 2;
  grid-row: 2;
  margin-top: 0px;
  white-space: pre-line;
  line-height: 1.4;
}

/* 댓글 수정/삭제 버튼 */
.comment__actions {
  grid-column: 3;
  grid-row: 2;
  align-self: self-start;
  justify-self: end;
}

.comment__actions button {
  width: 56px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #6a7282;
  border-radius: 10px;
}

/* =================================
   6. 작성글 수정/삭제 버튼
================================= */
.post__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-block-start: 40px;
  padding-block-start: 20px;
  border-top: 1px solid lightgray;

  .post__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: transparent;
    border-radius: 8px;
    padding: 4px 10px;
    border: 0;
    cursor: pointer;

    &.post__btn--edit {
      color: #155dfc;
      &:hover {
        background-color: var(--blue-50);
      }
    }

    &.post__btn--delete {
      color: #e7000b;
      &:hover {
        background-color: var(--red-50);
      }
    }
  }
}
