.container {
  background-color: #f9fafb;
  margin: auto;
}

.question,
.comment {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  box-shadow: var(--shadow-sm);
  margin-block: 24px;
  padding: 32px;

  .question-header {
    width: 100%;
  }
}

/* 글쓰기 헤더 */

.index {
  background-color: #e0e7ff;
  border-radius: 50px;
  padding: 8px 12px;
  color: #432dd7;
  display: inline-flex;
  align-items: center;
}

.upload-time {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding-inline: 8px;
}

.title {
  margin-block: 16px;
  font-weight: 500;
  font-size: 30px;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-block: 24px;

  .author-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(45deg, #615fff, #ad46ff);
    overflow: hidden;
  }
}

/* 질문 내용 */
.question-content {
  line-height: 2;

  .code-content {
    background-color: #101828;
    color: white;
    border-radius: 14px;
    padding: 24px;
    line-height: 1.4;
  }
}

/* 댓글 */
#comment-form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.comment-title {
  font-size: 20px;
  margin-block: 8px 24px;
}

#comment {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 12px;
  padding-inline: 12px;
}

.comment-submit-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  margin-block: 18px;

  border-radius: 12px;
  background: linear-gradient(
    90deg,
    #4f39f6 0%,
    #7c3aed 100%
  );
  color: #ffffff;
  border: none;
  box-shadow: var(--shadow-md);
  
}

.comment-lists {
  list-style: none;
  padding: 0;

  .comment-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.comment-author {
  display: flex;
  align-items: center;
  gap: 12px;


  .comment-author-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E5E7EB;
    overflow: hidden;
  }
}

hr {
  border: none;
  border-top: 1px solid #E5E7EB;
}