
/* =================================
post form
================================= */
.newpost__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-shadow: var(--shadow-box);

  background: var(--white);
  border: 1px solid lightgray;
  border-radius: 14px;
  margin-block: 30px;


  /* ================================
  1. 게시판 선택 영역 (라디오 버튼)
  ================================= */
  .newpost__field--board {
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 12px;
    margin-top: 12px;
    line-height: 1;

    .newpost__radio {
      display: inline-flex;
      align-items: center;
      gap: 6px;
    }
  }


  /* ================================
  2. 입력 필드 영역 (제목/ 카테고리/ 내용)
  ================================= */
  .newpost__field {
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* 제목, 카테고리 */
    .input,
    #categorySelect {
      height: 50px;
      border: 1px solid lightgray;
      border-radius: 12px;
      padding-inline: 12px;
    }

    /* 내용 */
    #content {
      border: 1px solid lightgray;
      border-radius: 12px;
      padding-inline: 12px;

      box-sizing: border-box;
      width: 100%;
      padding: 16px;
      font-size: 16px;
      line-height: 1.6;
      resize: none;
      min-height: 400px;
    }
  }


  /* ================================
  3. 미리보기 영역
  ================================= */
  .newpost__preview {
    background: var(--gray-50);
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 24px 12px;
  }
  strong {
    background-color: #e0e7ff;
    padding: 8px 14px;
    border-radius: 20px;
  }

  #previewContent {
    padding-block: 30px;
    line-height: 1.6;

    h2 {
      padding-block-end: 18px;
    }
  }

  /* ================================
  4. 하단 버튼 영역
  ================================= */
  .newpost__actions {
    display: flex;
    justify-content: space-evenly;
    gap: 14px;

    height: 50px;
    margin-block: 30px;
  }

  .newpost__actions .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    gap: 6px;
    border-radius: 12px;
    border: 1px solid lightgray;
    cursor: pointer;
  }

  /* 제출 버튼 */
  .button--primary {
    background: linear-gradient(90deg, #4f39f6 0%, #7c3aed 100%);
    color: #ffffff;
    border: none;
  }
}
